.content-loading{
    background-color: red;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--background-white);
    padding: var(--padding-small);
    border: 1px solid var(--border-color-gray);
    border-radius: var(--border-radius-small);
    display: flex;
    justify-content: center;
    align-items: center;
}dsdasd