.content-card{
    border-radius: var(--border-radius-medium);
    padding: var(--padding-large);
    box-shadow: var(--box-shadown-normal);
    width: calc((100% / 3) - var(--padding-medium));

    .card-footer{
        display: flex;
        justify-content: end;
        gap: var(--padding-small);
    }

}