
.content-section-vacancy{
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    
    .vacancy-cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--padding-medium);
    }
}
