.header-title > p{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
}

.header-bottom{
    display:flex;
    justify-content: space-between;
}