
.button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding-small);
    cursor: pointer;
    transition: background-color .4s ease;
}


