.content-search{
    border: 1px solid var(--border-color-gray);
    border-radius: var(--border-radius-big);
    padding: var(--padding-small);
    display: flex;
    gap: var(--padding-small);
    width: 260px;
}